.center-cols > .col {
    float:none; /* disable the float */
    display: inline-block; /* make blocks inline-block */
    text-align: initial; /* restore text-align to default */
  }

  .card .card-image .card-title.countryCardTitle {
    color: black;
  }

  

  
#icon{
  margin: auto;
  height: 100px;
  width: 100px;
}
.modal-content{
  width: auto;
  margin: auto;
}

.carousel-item{
  width: auto;
  margin: auto;
  height: 400px;
  width: 400px;

}
